.features {
  grid-column: center-start / center-end;
  margin: 15rem 0;

  @supports(display: grid) {
      align-items: start;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
      grid-gap: 6rem;
  }

}

.feature {
  float: left;
  margin-bottom: 6rem;
  width: 33.3333%;

  @supports(display: grid) {
    margin-bottom: 0;
    width: auto;
  }

  &__icon {
    fill: $color-primary;
    grid-row: 1 / span 2;
    height: 4.5rem;
    transform: translateY(-1rem);
    width: 4.5rem;
  }

  &__text {
    font-size: 1.7rem;
  }
}